.message-section .message-container {
    display: flex;
    flex-direction: column;
    /* width: 40%; */
    padding: 5px 20px;
    gap: 5px;
    box-shadow: -3px 3px 10px rgb(0, 0, 0, 0.2);
}

.right {
    align-self: flex-end;
    border-radius: 20px 20px 0px 20px;
    background-color: var(--bg-message-color-right);
}

.right .message-author{
    color: #53bdeb;
}

.left .message-author{
    color: #25d366;
}

.left {
    align-self: flex-start;
    border-radius: 20px 20px 20px 0px;
    background-color: var(--bg-message-color-left);
}

.message-section .message-container .message-author {
    font-weight: 900;
    font-size: 13px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.2);
}

.message-section .message-container .message-content {
    font-size: 17px;
    color: var(--text-color);
}

.message-section .message-container .message-info {
    display: flex;
    justify-content: end;
    align-items: center;
    color: var(--text-color);
    gap: 8px;
    font-size: 12px;
}

.bi-check-all {
    font-size: 20px;
}

.bi-check2 {
    font-size: 20px;
}
