@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --button-text-color: #000000e6;
  --secondary-text-color: #868686;
  --border-color: #ececec;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  justify-content: center;
  flex-direction: row;
  background-color: #f5f5f5;
}

/* COLOR CARD */

.color-card {
  width: 250px;
  height: 300px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  justify-content: space-between;
}

.color-card .colors {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  background-color: red;
  overflow: hidden;
  /* flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.color-card .colors .color:nth-child(1) {
  height: 40%;
}

.color-card .colors .color:nth-child(2) {
  height: 25%;
}

.color-card .colors .color:nth-child(3) {
  height: 20%;
}

.color-card .colors .color:nth-child(4) {
  height: 15%;
}
.color-card .color-card-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.color-card .color-card-controls .btn-like {
  height: 38px;
  display: flex;
  gap: 5px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: var(--button-text-color);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
}

.color-card .color-card-controls .update {
  color: var(--secondary-text-color);
  font-size: 13px;
}
