/* ORDEN DE JERARQUIA de menor a mayor */

/* selector universal */
* {
  color: aqua;
}

/* definicion de elemento */
button {
  color: red;
}

/* Definicion de clase */
.especial {
  color: blue;
}

/* Definicion de id */
#btn-super-especial {
  color: yellowgreen;
}

/* inline style dentro del HTML sobreescribe todo arriba de esto*/

/* important */
h1 {
  color: rgb(84, 71, 71) !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: underline 3px brown;
}

/* Esto no funciona por culpa del !important */
h1 {
  color: rgb(103, 14, 247);
}
