.message-section {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    width: 80%;
    padding: 10px;
    gap: 15px;
    margin-bottom: 70px;
    margin-top: 70px;
}

.message-section .chat-container {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    gap: 10px;
    height: 100%;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--bg-message-color-right);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bg-color);
}
