.contact-list-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    gap: 5px;
    /* height: 70%; */
}
