.contact-card-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    padding: 10px;
    width: 400px;
    gap: 20px;
    border-radius: 10px;
    background-color: var(--bg-message-color-right);
}

.contact-card-container .contact-card-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contact-card-container .contact-card-picture img {
    width: 80%;
}

.contact-card-container .contact-card-name span {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
}
